@charset "UTF-8";

body{margin:0px; padding:0px;}
a{margin:0px; padding:0px;}
nav{background-color:#f90050; height:80px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-end;
	align-items:center;}
nav a {flex-basis:15%;margin:10px;}
nav a button{border-radius:2px; border-style:solid;border-width:0.5px; 
	font-size:larger;color:white;
	padding:10px;
	width:100%
	}
#minilogo{margin-right: auto; height: 30px;padding:20px;}
#logbutton{background-color:#f90050; border-color:white;}
#cartbutton{background-color:#ff8a00; border-color:#ff8a00;}
.container{
		text-align:center;
 		vertical-align:middle;
		display:flex; 
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:center;
		align-items: center;}

.footermenu{font-size: 0.8em; color:gray;}
.footermenu li{display:inline-block;padding-right: 10px; }
 li::after {content:"  |";color: lightgray; font-size:0.8em; }
 .footerinfo{
 	margin:35px;
 	vertical-align:middle;
	display:flex; 
	flex-direction:row;
	justify-content:center;
	align-items: center;
 }
 .footerinfo img{margin-right:20px}